pagination input{
    color: #FFFF;
    text-align: center;
    background-color: #BDBDBD;
}

.pagination img{
    display: flex;
    align-items: center;
    width: 26px;
    height: 26px;
}

.pagination{
    display: flex;
    justify-content:space-around;
    margin-right: 70%;
    margin-left: 200px;
    padding: 4px;
    height: 60px;
    align-items: center;
    position: relative;
    right: -20rem;
}
.pagination button, input{
    margin: 10px;

}

.pagination button:hover{
    cursor: pointer;
    opacity: 0.5;
}
.btn-selector input{
    background-color: #0097A7;
    border-radius: 100%;
}
.btn-inicio{
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: transparent;
   
}
.btn-final{
    background-color: transparent;
    width: 30px;
    border-radius: 100%;
    border: transparent;
}