.cards_detail {
    position: relative;
    background-color: white;
    border-radius: 25px;
    width: 1245px;
    height: 500px;
    left: 18rem;
    top: 5rem;
}
.cards_detail h1 {
    font-size: 27px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    position: relative;
    left: 28rem;
    top: -15rem;
    width: 660px;
}
.menu_detail h6{
    font-size: 14px;
    background-color: white;
    position: relative;
    right: 1rem;
    top: 1rem;
    width: 64px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu_detail{
    background-color: white;
    position: relative;
    left: 26rem;
    top: -13rem;
    width: 302px;
}
.bici1 {
    width: 300px;
    position: relative;
    left: 7rem;
    border-right: 1px solid silver;
    top: 3rem;
}

.list_dos{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 60px;
    margin-left: 55px;
    background-color: transparent;
}
.talla{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: black;
    background-color: white;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    left: 2rem;
   
}
.cards_detail h3{
    font-size: 25px;
    background-color: white;
    position: relative;
    left: 56rem;
    top: -11rem;
    width: 140px;
    font-weight: lighter;

}
.cards_detail h2 {
    font-size: 12px;
    background-color: white;
    position: relative;
    left: 28rem;
    top: -14rem;
    width: 164px;
    border-bottom: 1px solid silver;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: dimgray;
}
.menu_detail li{
    background-color: white;
}
.btn2{
    height: 27px;
    width: 168px;
    border-radius: 25px;
    font-size: 20px;
    color: white;
    background: #0097A7;
    border: none;
    position: relative;
    left: 54rem;
    top: -8rem;
}

.contador{
    display: flex;
    position: relative;
    left: 30rem;
    background-color: transparent;
    flex-wrap: nowrap;
    flex-direction: row;
}
.btn-numer{
    width: 32px;
    margin-left: 5px;
    margin-right: 5px;
}
.btn-más{
    background-color: #D9D9D9;
    width: 32px;
    height: 40px;
    border-radius: 5%;
    border: transparent;
}
.btn-menos{
    background-color: #D9D9D9;
    width: 32px;
    height: 40px;
    border-radius: 5%;
    border: transparent;
}

.btn-numer input{
    background-color: #F1EDED;
    width: 5px;
    height: 20px;
    border-radius: 5%;
    border: transparent;
}
.btn-menos button{
    font-size: 15px;
}
.numer-produ{
    justify-content: center;
}
.contador p{
    background-color: transparent;
    color: dimgray;
    position: relative;
    top: 3rem;
    right: 122.5px;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.color-1{
    border-radius: 100%;
    width: 25px;
    height: 25px;
    margin: 5px;
}
.color-2{
    border-radius: 100%;
    width: 25px;
    height: 25px;
    margin: 5px;
}
.color-3{
    border-radius: 100%;
    width: 25px;
    height: 25px;
    margin: 5px;
}
.color-4{
    border-radius: 100%;
    width: 25px;
    height: 25px;
    margin: 5px;
}
.colores{
    background-color: transparent;
    position: relative;
    left: 2rem;
    top: 1rem;
}
.product_caro h4{
    background-color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 14px;
    font-weight: bold;
  
}
.product_caro{
    width: 215px;
    height: 325px;
    background-color: #FFFF;
    border-radius: 25px;
    text-align: center;
    margin-left: 5px;
    padding: 10px;
    margin-top: 35px;
    margin-right: 5px;
    display: grid;
    gap: 5px;
}
.btn3{
    background-color: #0097A7;
    color: white;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: auto;
    border: transparent;
    height: 30px;
    width: 180px;
    justify-content: center;
    border-radius: 50px;
    font-size: 15px;
    display: flex;
}
.bici2{
    width: 180px;
    margin: auto;
}
.product_caro h3{
    background-color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 15px;
    font-style: italic;
    left: 2rem;
    position: relative;
    top: 0rem;
}
.product_caro p{
    background-color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0097A7;
    font-size: 15px;
    position: relative;
    font-style: italic;
    top: 0rem;
}
.Carousel{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    margin-top: 1px;
   
}
.carousel_princ{
    position: relative;
    background-color: white;
    border-radius: 25px;
    width: 1245px;
    height: 480px;
    left: 0rem;
    top: -3rem;

}
.informe{
    position: relative;
    background-color: white;
    border-radius: 25px;
    width: 1245px;
    height: 770px;
    left: 0rem;
    top: -3rem;
}
.informe_bike h1{
    font-size: 19px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    position: relative;
    left: 3rem;
    top: 9rem;
    width: 660px;
    color: #0097A7;
    border-bottom: 1px solid silver;
}

.informe_bike p{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    position: relative;
    left: 3rem;
    top: 9rem;
    width: 660px;
}
