.cards-products a
    {
        background: white;
        text-decoration: none;
    }
    .serparadorcards{
        width: 60%;
        display: flex;
        flex-direction: column;
    }

.Principal{
    width: 90%;
    display: flex;
  padding: 60px;
  height: auto;
}

.menu_card{
    width: 30%;
    
}

.filter-btn{
    background-color: transparent;
    height: 30px;
    width: 180px;
    text-align: center;
    justify-content: center;
    font-size:18px;
    color: black;
    border: none;
    display: none;
}

.list_uno{
    list-style: none;
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-right: 15%;
    border-right: 1px solid silver;
}

.categorias_uno{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: black; 
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid silver;
    border-left: 1px solid silver;
}

.cards-products h2{
    background-color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 14px;
    font-weight: bold;
}
.cards-products h3{
    background-color: transparent;
    flex-direction: column;
    align-items: flex-start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 15px;
    font-style: italic;
}
.opcion_dos h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.precios h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 14px;
    display: flex;
    margin-left: 5px;
}
.menu_card h6{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    margin:0%;
}
.cards-products p{
    background-color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#0097A7;
    font-size: 15px;
    font-style: italic;
}
.precios{
    display: flex;
    margin: 8px;
    position: relative;
    z-index: 1;
}
.precios input{
    margin-right: 0px;
    margin-left: 0px;
}
input{
    border-radius: 20px;
    background-color:#D9D9D9;
    height: 20px;
    width: 80px;
    border: transparent;
   
}
.opcion_dos{
    list-style: none;
    display: flex;
    width: 0px;
    height: 100px;

}
.recomendado{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: black; 
    font-weight: bold;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid silver;
}
.pagination input{
    color: #FFFF;
    text-align: center;
    background-color: #BDBDBD;
}

.pagination img{
    display: flex;
    align-items: center;
    width: 26px;
    height: 26px;
}

.pagination{
    display: flex;
    justify-content:space-around;
    padding: 4px;
    height: 60px;
    align-items: center;
    position: relative;
    right: -20rem;
}
.mov-paginacion{
    position: relative;
    top: -2rem;
}

.pagination h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pagination button:hover{
    cursor: pointer;
    opacity: 0.5;
}
.btn-selector input{
    background-color: #0097A7;
    border-radius: 100%;
    position: absolute;
    left: 3.4rem;
    top: 1.4rem;

}
.btn-inicio{
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: transparent;
    position: absolute;
    left: 1rem;
    top: 1.5rem;
}

.btn-final{
    background-color: transparent;
    width: 30px;
    border-radius: 100%;
    border: transparent;
    position: absolute;
    left: 6rem;
    top: 1.5rem;
}

.products{
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}
.separadoruno{
    display: flex;

    width: 100%;
    height: min-content;
}
.btn{
  
    background-color: #0097A7;
    color: white;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: auto;
    border: transparent;
    height: 30px;
    width: 180px;
    justify-content: center;
    border-radius: 50px;
    font-size: 15px;
    display: flex;
    cursor: pointer;
   }
   
  
.cards-products {
    width: 215px;
    height: 325px;
    background-color: #FFFF;
    border-radius: 25px;
    text-align: center;
    margin-left: 5px;
    padding: 10px;
    margin-top: 35px;
    margin-right: 5px;
    display: grid;
    gap: 5px;
}
.numeropagina{
    border-radius: 100%;
    width: 35px;
    height: 35px;
}
.bici{
    width: 180px;
    margin: auto;
}
button{
  
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    justify-content: center;
    align-content: space-around;
 }
 .show{
    display: block;
 }

 @media screen and (max-width: 375px){
.menu_card{
    display: none;
}
.filter-btn{
    display: flex;
    position: absolute;
    right: 15rem;
}
.Principal{
    width: 17%;
    display: flex;
    padding: 44px;
    height: auto;
}
.opcion_dos{
    position: absolute;
    left: 5rem;
}
.opcion_dos h4{
    font-size: 12px;
    font-weight: bold;
}
.cards-products {
    width: 180px;
    height: auto;
}
.bici{
    width: 162px;
    margin: auto;
}
.cards-products a {
    text-decoration: none;
}

.btn{
    width: 164px;
}
.pagination{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.recomendado {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
.btn-inicio{
    width: 20px;
    height: 20px;
}
.numeropagina{
    width: 25px;
    height: 25px;
}
.pagination h3{
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.products{
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    right: 83rem;
} 
.mov-paginacion{
    width: 100%;
}
.pagination {
    display: flex;
    justify-content: space-around;
    padding: 4px;
    height: 60px;
    align-items: center;
    position: relative;
    right: -20rem;
}
}
 