*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #F1EDED;
}

.contenedor-principal-carrito{
    display: flex;
    justify-content: center;
    gap: 1rem;


    /* separacion */
  
}
.contador{
    display: flex;
    margin-left: -5rem;
}
.bicicleta img {
    width: 150px;
    height: 150px;
}

.titulo{
    display: flex;

    margin-left: 4rem;
    margin-top: 2rem;
}
.btn-menos{
    cursor: pointer;
}
.btn-más{
    cursor: pointer;
}
.carta-carrito {
    background: white;
    height: 250px;
    width: 1200px;
    display: flex;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: -10rem;
    
}

.bicicleta {
    flex: none; /* Evita que la imagen se expanda */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 50px; 
}

.bicicleta img {
    align-self: flex-star; /* Alinea la imagen en la parte superior */
}
.info{
    flex-direction: column;
    justify-content: center;
    display: flex;
    margin-top: -60px;
}
.info h1 {
    margin-top: -80px; /* Hace que el texto ocupe el espacio restante */
    margin-left: -12px;
    padding: 60px; /* Espacio entre el texto y los bordes del contenedor */
}
.info h2{
    margin-top: -50px;
   margin-left: 50px;
}
.info2{
     margin-left: 25rem;
   margin-top: -30px;
}
.color-info{
     position: relative;
    top: 5rem; 
}

