*{
    margin: 0;
    padding: 0;
}


.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    background-color: #212121;
    height: 65px;
}
.ini:hover{
    cursor: pointer;
    opacity: 0.7;
}
.meg:hover{
    cursor: pointer;
    opacity: 0.7;
}
.car:hover{
    cursor: pointer;
    opacity: 0.7;
}
.Contener-busqueda{
    width: 50%;
}
.Barra-buscas{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#Buscar {
    width: 80%;
    height: 35px;
    background-color: #ffffff;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    padding: 13px;
}
::placeholder{
    font-family: Verdana;
    font-size: 0.75em;
    opacity: 0.7 ;
    align-items: center;
}
#btn_buscar {
    border-color: black;
    border-radius: 100%;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
   width: 38px;
    cursor: pointer;
    border: none;
}
#logoin{
    background-image:url(../Img/NavBar/ingresar.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
#Carrito{
    background-image:url(../Img/NavBar/ingresar.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.navbar a{
    text-decoration: none;
    color: white;
    font-size: 80%;
    font-family: "hyperspace-race-cap-variable",sans-serif;
}

.navbar a:hover{
    cursor: pointer;
    opacity: 0.7;
}

.logo{
    margin-right: 50px;
    width: 30px;
    height: 30px;
}

.list{
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
    margin-top: 22px;
    margin-right: 25px;
}

#toggler, .navbar label{
    display: none;
}

#logo{
    background-image:url(../Img/NavBar/Logo.jpeg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    height: 85px;
    width: 85px;
    margin-top : -8px;
    margin-left: 8px;
}
#logomeg{
    background-image:url(../Img/NavBar/Logo.jpeg);
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    height: 25px;
    width: 25px;
    margin-top : 0px;
    cursor: pointer;
}


.categorias{
    font-family: "hyperspace-race-cap-variable",sans-serif;
    font-size: 80%;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.opcion{
    font-family: "hyperspace-race-cap-variable",sans-serif;
    background-color: #001d52;
    
}
.A{
    background-color: #001d52;
    opacity: 0;
}
.A:hover {
    background-color: #001d52;
}

.categorias:hover{
    cursor: pointer;
    opacity: 0.7;
}

#btntoggler{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#imgtoggler{
    width: 35px;
    height: 35px;
    margin: 10px;
}

#btntoggler:hover{
    border-radius: 10%;
    opacity: 0.8;
}

.btnlupa{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

#lupa{
    width: 20px;
    height: 20px;
}

.btnlupa:hover{
    cursor: pointer;
    opacity: 0.7;
    border-radius: 10%;
}